html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-family: "Barriecito", cursive;
  font-size: 4.2rem;
}

.txt-center {
  text-align: center;
}

@media screen and (min-width: 650px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
}

main {
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #E9724C;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 993px) {
  main {
    max-width: 900px;
  }
}

input,
optgroup,
select,
textarea {
  font-family: "Quicksand", sans-serif;
}

button {
  font-family: "Barriecito", cursive;
  background: #E9724C;
  color: #ffffff;
  border: 1px solid #E9724C;
  border-radius: 2px;
  display: block;
  width: 100%;
  margin: 1rem auto;
}

@media screen and (min-width: 650px) {
  button {
    max-width: 46%;
  }
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

ul:not(.browser-default) > li {
  list-style-type: none;
}

a {
  color: #E9724C;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

* {
  font-family: "Quicksand", sans-serif;
  color: #255F85;
  line-height: 1.5;
  font-size: 1rem;
}

#load, #weather {
  display: none;
}

#weather {
  background-color: #E9724C;
  padding: 20px;
}

#weather > *, #weather span {
  color: #ffffff;
}

#weatherCity, .weatherDesc {
  text-transform: capitalize;
}

.switch {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch label {
  cursor: pointer;
  font-size: .8rem;
  color: #ffffff;
}

.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  overflow: visible;
}

.switch label input[type=checkbox]:not(:checked), .switch label input[type=checkbox]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

switch label input[type=checkbox]:checked + .lever {
  background-color: #84c7c1;
}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 36px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px;
}

.switch label input[type=checkbox]:checked + .lever:before, .switch label input[type=checkbox]:checked + .lever:after {
  left: 18px;
}

.switch label .lever:before {
  background-color: rgba(38, 166, 154, 0.15);
}

.switch label .lever:before, .switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: -3px;
  -webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
}

.switch label .lever:after {
  background-color: #F1F1F1;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.switch label .lever:before, .switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: -3px;
  -webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */